h1{
    height: 15vh;
    display: flexbox;
    font-size: 8vh;
    text-align: center;
    color:white;
    background-color: rgb(39, 39, 153);
    border-radius: 2vh;
    font-weight: 750;
    color:rgb(183, 226, 25)

}

.Search{
    background-color: teal;}

.display{
    background-color: blueviolet;
}

.btn{
    height: 10vh;
    background-color: blue;
}

.card{
   
    background-color: rgb(26, 165, 119);
}

.board{
    margin-bottom: 2vh;
    height: 40vh;
    background-color: rgb(240, 224, 3);
    border-radius: 2vh;
    font-size: 3vh;
   
 
}

.favorable{
background-color:green;
color:white;
}

.moderate{
background-color: yellow;
color:black;
}

.Severe{
background-color: red;
color:white;
}
